<header class="bench-header">
  <div class="brand-stencil">
    <span>COOPER ST</span><br>
    <span>LOGIC SHOP</span>
  </div>
  
  <button class="mobile-clamp" aria-label="Open Navigation">
    <img src="/assets/img/icon-c.svg" width="32" height="32" alt="Menu">
  </button>
</header>