<ul class="toc-list">
  <li class="toc-item">
    <a href="/shop/" class="toc-link">THE SHOP</a>
    <span class="toc-number">01</span>
  </li>
  <li class="toc-item">
    <a href="/inventory/" class="toc-link">INVENTORY</a>
    <span class="toc-number">02</span>
  </li>
  <li class="toc-item">
    <a href="/fabrication/" class="toc-link">FABRICATION</a>
    <span class="toc-number">03</span>
  </li>
  <li class="toc-item">
    <a href="/personnel/" class="toc-link">PERSONNEL</a>
    <span class="toc-number">04</span>
  </li>
</ul>